*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Sawarabi Mincho" ,serif;
  color: #333;
  cursor: none;
}
body {
  cursor: none;
}

header .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 36px;
  right: 0;
  z-index: 10;
}

header .nav-links li {
  /* cursor: pointer; */
}

header .nav-links li a{
  /* writing-mode: vertical-rl; */
  width: 170px;
  display: block;
  margin-right: -100px;
  margin-bottom: 13px;
  padding: 4px 8px;
  color: #333;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
  border-right: none;
  border-radius: 0%;
  /* cursor: pointer; */
  transform: translateX(0);
  transform-origin: right;
  transition: .2s ease-in;
}
header .nav-links li a::before{
  content: '';
  top: 0%;
  left: 0%;
  position: absolute;
  width: 200px;
  height: 25px;
  background: rgba(255,255,255,.2);
  border: 1px solid #333;
  border-right: none;
  /* cursor: pointer; */
  transform: scaleX(1);
  transform-origin: right;
  transition: .2s;
}
header .nav-links li a.current{
  background: rgba(255,255,255,.8);
}

header .nav-links li a:hover
{
  background: rgba(255,255,255,.8);
  transform: translateX(-30px)
}
header .nav-links li > ul > li a{
  transform: translateX(110px);
  transition-delay: .2s;
}

header .nav-links li > ul > li.touchTab a
{
  transform: translateX(-70px);
}
header .nav-links li > ul > li.touchTab a:hover
{
  background: rgba(255,255,255,.8);
}

header .burger {
  display: none;
  /* cursor: pointer; */
  z-index: 200;
  padding: 20px;
  position: fixed;
}

header .burger div {
  width: 30px;
  height: 2px;
  background: #eee;
  box-shadow: 1px 1px 8px 0px #333;
  margin: 8px;
  transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
  header nav {
    position: relative;
  }
 body{
    overflow-x: hidden;
  }
  header .nav-links{
    width: 100vw;
    align-items: center;
  }
  header .nav-links
  {
    height: 100vh;
    width: 100vw;
    right: 0px;
    top: 0;
    background-color: rgba(233,233,233,.9);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding-bottom: 10vh;
  }
  header .nav-links li {
    opacity: 0;
  }
  header .nav-links li a{
    width: 400px;
    margin-bottom: 13px;
    padding: 2rem;
    background: transparent;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 0.5rem;
    border: none;
    /* cursor: pointer; */
  }
  header .nav-links li a::before{
    display: none;
  }
  header .nav-links li a:hover,
  header .nav-links li a:hover + .nav-links li a::before{
  background: rgba(255,255,255,.8);
  transform: translateX(0);
  /* color: white; */
  /* border: 1px solid  transparent; */
}
header .burger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }
  header .nav-links li > ul {
    /* display: flex; */
    width: 100%;
    padding-left: 3rem;
  }
  header .nav-links li > ul > li a{
    color: #666;
    transform: translateX(0);
    padding: 1.5rem 0;
  }
  
  header .nav-links li > ul > li.touchTab a
  {
    transform: translateX(0);
  }
  




}

header  .nav-links.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
  
}

.toggle .line1{
  /* transform: rotate(-45deg)translate(-5px, 6px); */
  transform: translateY(10px) rotate(-45deg);
  width: 30%;
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  /* transform: rotate(45deg) translate(-5px, -6px); */
    transform: translateY(-10px) rotate(45deg);
    width: 30%;
}


.btnContents {
  /* padding-top: .5rem; */
  color: #647516;
  /* cursor: pointer; */
  transition: .2s;
  transition: transform .5s ease;
}
.btnContents::after{
  content: ' →';
  font-family: cursive;;
}
.btnContents:hover {
  transform: translateX(20px);
}

.btnContents a{
  padding: 1rem;
  color: #647516;
}

/* cursor */
.cursor {
  background: url(../img/map/icon1.svg);
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  /* border: 1px solid rgba(255,255,255,.1); */
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 100000;
  pointer-events: none;
  transition: all 1s ease;
  transition-property: background, transform;
  transform-origin: center;
  opacity: .8;
  animation: 10s circlebloom ease infinite;
  transform: scale(1);
  background-position: center;
}
.cursor::before {
  content: '';
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 50%;
  top: 0;
  animation: 4s circlewave linear infinite;
}

.link-grow {
  filter: blur(2px);
  transform: scale(2);
  /* background: rgba(255,255,255,.3); */
}

.blinking{
  background: rgba(255,255,150,.8);
  background: transparent;
  /* border: 2px solid rgba(255,255,200,.8);
  border: 2px solid rgba(166, 215, 157, 0.7); */
  transform-origin: center;
  /* animation: 1.5s circlewave linear infinite; */
  animation: 3s circlelotate ease infinite;
}

@keyframes circlewave {
  0%{
    transform: scale(0.7);
  }
  20%{
    transform: scale(2);
    opacity: 0;
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes circlelotate {
  0%{
    transform: rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: rotate(720deg);
    opacity: 0;
  }
}

@keyframes circlebloom {
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(360deg);
  }
  20%{
    transform: rotate(0deg);
  }
  90%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}